# This is a manually triggered workflow that generates new PDF builds of the
# NumPy documentation for each minor release.

name: Build PDF for NumPy documentation

on:
  workflow_dispatch:
    inputs:
      numpy_version:
        description: 'Name of the NumPy release'
        required: true
        default: 'v2.0.0'

permissions:
  contents: read

jobs:
  pdf-docs:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        repository: numpy/numpy
        path: numpy
        ref: ${{ inputs.numpy_version }}
        submodules: recursive
        fetch-depth: 0
        fetch-tags: true
        persist-credentials: false
        token: ${{ secrets.WORKFLOW_PAT }}

    - uses: prefix-dev/setup-pixi@v0.8.1
      with:
        pixi-version: v0.39.5
        run-install: false
      # Read the requirements files removing comments (and the resulting empty lines) and adding quotes around each
      # line (for use with zsh)
    - run: pixi run test
    - name: Install dependencies
      run: |
        pixi init
        pixi add python=3.11 tectonic doxygen
        pixi add --pypi $(cat numpy/requirements/build_requirements.txt | sed '/^#/d'| sed -r '/^\s*$/d' | sed 's/\(.*\)/"\1"/g')
        pixi add --pypi $(cat numpy/requirements/doc_requirements.txt | sed '/^#/d'| sed -r '/^\s*$/d' | sed 's/\(.*\)/"\1"/g')
      shell: pixi exec -- bash -e {0}

    - name: Build NumPy + LaTeX docs
      run: |
        cd numpy
        spin docs generate
        mkdir -p doc/build/doctrees
        pushd doc; python preprocess.py; popd
        doxygen doc/build/doxygen/Doxyfile
        spin docs latex
      shell: pixi run bash -e {0}

    - name: Build PDF
      run: |
        cd numpy/doc/build/latex
        tectonic numpy-ref.tex
        tectonic numpy-user.tex
      shell: pixi run bash -e {0}
