# This is a manually triggered workflow that generates new PDF builds of the
# NumPy documentation for each minor release.

name: Build PDF for NumPy documentation

on:
  workflow_dispatch:
    inputs:
      numpy_version:
        description: 'Name of the NumPy release'
        required: true
        default: 'v2.0.0'

permissions:
  contents: read

jobs:
  pdf-docs:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        repository: numpy/numpy
        path: numpy
        ref: ${{ inputs.numpy_version }}
        submodules: recursive
        fetch-depth: 0
        fetch-tags: true
        persist-credentials: false
        token: ${{ secrets.WORKFLOW_PAT }}

    - uses: prefix-dev/setup-pixi@v0.8.1
      with:
        pixi-version: v0.39.5
        run-install: false
      # Read the requirements files removing comments (and the resulting empty lines) and adding quotes around each
      # line (for use with zsh)
    - name: Install dependencies
      run: |
        pixi init
        pixi add python=3.11 tectonic
        pixi add "meson-python>=0.13.1" "Cython>=3.0.6" ninja "spin==0.8" python-build
        pixi add doxygen "sphinx==7.2.6" "numpydoc==1.4" "pydata-sphinx-theme>=0.15.2" sphinx-copybutton sphinx-design scipy matplotlib pandas "breathe>4.33.0" "ipython!=8.1.0" pickleshare towncrier toml
      shell: bash

    - name: Build NumPy + LaTeX docs
      run: |
        cd numpy
        pixi run spin docs generate
        mkdir -p doc/build/doctrees
        pushd doc; pixi run python preprocess.py; popd
        pixi run doxygen doc/build/doxygen/Doxyfile
        pixi run spin docs latex

    - name: Build PDF
      run: |
        cd numpy/doc/build/latex
        pixi run tectonic numpy-ref.tex
        pixi run tectonic numpy-user.tex

    - uses: actions/upload-artifact@v4
      with:
        name: pdf-docs.zip
        path: |
          numpy/doc/build/latex/numpy-ref.pdf
          numpy/doc/build/latex/numpy-user.pdf
        retention-days: 7
        overwrite: 'true'
